<!DOCTYPE html5>
<html lang="en">

<head>
  <title>Forgot password</title>
</head>

<body>
  <div style="padding: 50px 100px">
    <h2 style="font-size: 28px; line-height: 57px; text-align: center">
      Reset Password
    </h2>
    <p style="font-size: 16px; line-height: 30px">Forgot your Password?</p>
    <p style="font-size: 16px; line-height: 30px">
      Please Sign In with this new password.
    </p>
    <div style="display: flex; width: 200px; margin: 0 auto">
      <div style="
            width: 100%;
            padding: 15px 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #00a1e9;
            border-radius: 6px;
            color: #fff;
          ">
        <div>{{new_password}}</div>
      </div>
    </div>
    <p style="font-size: 16px; line-height: 30px">
      <strong>Best Regards,</strong>
    </p>
  </div>
</body>

</html>