APP_NAME=2024_flask_structure
FLASK_ENV=dev
FLASK_APP=server.py

POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=macro_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET_KEY=secret_key_123
REFRESH_TOKEN_EXPIRED_TIME=2592000 # 30 days

REDIS_DB=1
REDIS_PASSWORD=redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DEFAULT_TIMEOUT=5

CORS_ORIGIN_WHITELIST=http://localhost:3000

EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_HOST=
EMAIL_PORT=

BASE_URL=http://127.0.0.1:5000

S3_REGION=
S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_MEDIA_PREFIX=
